*.cproject
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.cdt.core/PFA.language.settings.xml
.metadata/.plugins/org.eclipse.cdt.core/shareddefaults.xml
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.mylyn.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/12/50/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/12/50/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.rse.core/.log
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nania-tosh_527/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nania-tosh_527/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.nania-tosh_527/node.properties
.metadata/.plugins/org.eclipse.rse.ui/.log
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/version.ini
.project
.settings/language.settings.xml
PFA/.settings/language.settings.xml
PFA/src/PFA.cpp
Project3Donuts-build/CMakeCache.txt
Project3Donuts-build/CMakeFiles/2.8.12.2/CMakeCCompiler.cmake
Project3Donuts-build/CMakeFiles/2.8.12.2/CMakeCXXCompiler.cmake
Project3Donuts-build/CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
Project3Donuts-build/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
Project3Donuts-build/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_CXX.bin
Project3Donuts-build/CMakeFiles/2.8.12.2/CMakeRCCompiler.cmake
Project3Donuts-build/CMakeFiles/2.8.12.2/CMakeSystem.cmake
Project3Donuts-build/CMakeFiles/2.8.12.2/CompilerIdC/a.exe
Project3Donuts-build/CMakeFiles/2.8.12.2/CompilerIdCXX/a.exe
Project3Donuts-build/CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
Project3Donuts-build/CMakeFiles/cmake.check_cache
Project3Donuts-build/CMakeFiles/CMakeDirectoryInformation.cmake
Project3Donuts-build/CMakeFiles/CMakeOutput.log
Project3Donuts-build/CMakeFiles/CMakeRuleHashes.txt
Project3Donuts-build/CMakeFiles/Makefile.cmake
Project3Donuts-build/CMakeFiles/Makefile2
Project3Donuts-build/CMakeFiles/progress.marks
Project3Donuts-build/CMakeFiles/Project3Donut.dir/build.make
Project3Donuts-build/CMakeFiles/Project3Donut.dir/cmake_clean.cmake
Project3Donuts-build/CMakeFiles/Project3Donut.dir/CXX.includecache
Project3Donuts-build/CMakeFiles/Project3Donut.dir/depend.internal
Project3Donuts-build/CMakeFiles/Project3Donut.dir/depend.make
Project3Donuts-build/CMakeFiles/Project3Donut.dir/DependInfo.cmake
Project3Donuts-build/CMakeFiles/Project3Donut.dir/flags.make
Project3Donuts-build/CMakeFiles/Project3Donut.dir/includes_CXX.rsp
Project3Donuts-build/CMakeFiles/Project3Donut.dir/link.txt
Project3Donuts-build/CMakeFiles/Project3Donut.dir/objects.a
Project3Donuts-build/CMakeFiles/Project3Donut.dir/objects1.rsp
Project3Donuts-build/CMakeFiles/Project3Donut.dir/progress.make
Project3Donuts-build/CMakeFiles/Project3Donut.dir/Project3Donut_automoc.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/main.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Scene/BoundingBox.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Scene/Camera.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Scene/Loader.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Scene/Object.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Scene/ObjLoader.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Scene/PlyLoader.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Scene/Scene.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Scene/SceneRenderer.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Tools/Pixel.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Tools/PixelTab.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Window/MainWindow.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Window/MyGLWidget.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Window/QFileSystemModelDialog.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut_automoc.dir/AutomocInfo.cmake
Project3Donuts-build/CMakeFiles/Project3Donut_automoc.dir/AutomocOldMocDefinitions.cmake
Project3Donuts-build/CMakeFiles/Project3Donut_automoc.dir/build.make
Project3Donuts-build/CMakeFiles/Project3Donut_automoc.dir/cmake_clean.cmake
Project3Donuts-build/CMakeFiles/Project3Donut_automoc.dir/depend.internal
Project3Donuts-build/CMakeFiles/Project3Donut_automoc.dir/depend.make
Project3Donuts-build/CMakeFiles/Project3Donut_automoc.dir/DependInfo.cmake
Project3Donuts-build/CMakeFiles/Project3Donut_automoc.dir/progress.make
Project3Donuts-build/CMakeFiles/TargetDirectories.txt
*.cmake
Project3Donuts-build/Makefile
Project3Donuts-build/moc_MainWindow.cpp
Project3Donuts-build/moc_MyGLWidget.cpp
Project3Donuts-build/moc_QFileSystemModelDialog.cpp
Project3Donuts-build/Project3Donut.cbp
Project3Donuts-build/Project3Donut.exe
Project3Donuts-build/Project3Donut_automoc.cpp
Project3Donuts/.settings/language.settings.xml
Project3Donuts/CMakeLists.txt.user
Project3Donuts-build/CMakeFiles/Progress/1
Project3Donuts-build/CMakeFiles/Progress/16
Project3Donuts-build/CMakeFiles/Progress/count.txt
Project3Donuts/CMakeLists.txt.user.3.3-pre1
Project3Donuts-build/resources/example/cubeout.ply
Project3Donuts-build/resources/example/monkey.obj
Project3Donuts-build/resources/models/widget.obj
Project3Donuts-build/resources/shaders/StandardShading.fragmentshader
Project3Donuts-build/resources/shaders/StandardShading.vertexshader
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Scene/TransformWidget.cpp.obj
Project3Donuts-build/CMakeFiles/Progress/17
Project3Donuts-build/CMakeFiles/Progress/2
Project3Donuts-build/CMakeFiles/Progress/10
Project3Donuts-build/CMakeFiles/Progress/3
Project3Donuts-build/CMakeFiles/Progress/4
Project3Donuts-build/CMakeFiles/Progress/5
Project3Donuts-build/CMakeFiles/Progress/6
Project3Donuts-build/CMakeFiles/Progress/7
Project3Donuts-build/CMakeFiles/Progress/11
Project3Donuts-build/CMakeFiles/Progress/8
Project3Donuts-build/CMakeFiles/Progress/9
Project3Donuts-build/CMakeFiles/Progress/12
Project3Donuts-build/CMakeFiles/Progress/13
Project3Donuts-build/CMakeFiles/Progress/14
Project3Donuts-build/CMakeFiles/Progress/15
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/ImageCreator/AutostereogramAlgorithm1.cpp.obj
Project3Donuts-build/maScene.xml
Project3Donuts-build/CMakeFiles/Progress/18
Project3Donuts-build/moc_FileExplorer.cpp
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Tools/Image.cpp.obj
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/Window/FileExplorer.cpp.obj
Project3Donuts-build/resources/shaders/DepthMap.fragmentshader
Project3Donuts-build/resources/models/lightbubble.obj
Project3Donuts-build/CMakeFiles/Progress/19
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/ImageCreator/Creator.cpp.obj
Project3Donuts-build/autoSave.xml
Project3Donuts-build/CMakeFiles/Project3Donut.dir/src/ImageCreator/Creation.cpp.obj
Project3Donuts-build/colormap.png
Project3Donuts-build/moc_Creation.cpp
Project3Donuts-build/resources/shaders/DebugNormal.vertexshader
Project3Donuts-build/moc_PhotographNormal.cpp
Project3Donuts-build/moc_Photograph.cpp
Project3Donuts-build/moc_Creator.cpp
Project3Donuts-build/moc_Flipbook.cpp
Project3Donuts-build/moc_FlipbookNormal.cpp
Project3Donuts-build/moc_Anaglyph.cpp
Project3Donuts-build/moc_Settings.cpp
Project3Donuts-build/moc_AnaglyphAlgorithm1.cpp
Project3Donuts-build/moc_Autostereogram.cpp
Project3Donuts-build/settings.ini
Project3Donuts-build/test.gif
*.obj
Project3Donuts-build/flipbook.gif
*.xml
